//стили для лейоута
//прячем в мобильной версии
.mobile-hidden{
  @include mobile_only(){
    display: none;
  }
}


//задаем ширину для тестирования, чтобы не рисовать
.test-width{

}



//наклон справа
@mixin skew-right($height,$back:false){
  position:relative;

  @content;

  &:before{
    content:'';
    width:50%;
    height:$height;
    @if $back !=false {
      background: $back !important;
    }
    position: absolute;
    left:0px;
    z-index:0;
  }

  &:after{
    content:'';
    width:70%;
    height:$height;
    @if $back != false {
      background: $back !important;
    }
    position: absolute;
    right:0px;
    top:0px;
    z-index:1;
    transform: skew(-45deg);
  }

  &>*{
    position:relative;
    z-index:3;
    //transform: skew(45deg,0);
  }

}

//наклон cлевa
@mixin skew-left($height,$back){

  position:relative;

  &:before{
    content: '';
    transform:skew(-45deg);
    height:$height;
    background:$back;
    position: absolute;
    width: 70%;
    left:10px;
    z-index:1;
  }

  &:after{
    content: '';
    width:70%;
    height:$height;
    background:$back;
    right: 0px;
    position: absolute;
    z-index:2;
  }

  //transform: skew(-45deg,0);

  >:first-child{
    margin-left: $height;
  }

  &>*{
    position:relative;
    z-index:3;
    //transform: skew(45deg,0);
  }

  >:last-child{
    //margin-right:-$height/2;
  }


}

//внутренняя тень слева
@mixin left-inner-shadow($px,$color){
  &:after{
    box-shadow:inset -1*$px $px $px $color,
    inset -1*$px -1*$px $px $color;
  }

  &:before {
    box-shadow:inset $px $px $px $color,
    inset $px -1*$px $px $color;
  }

}

//внутренняя тень справа
@mixin right-inner-shadow($px,$color){
  box-shadow:inset $px $px $px #8c8c8c,
  inset -1*$px -1*$px $px #8c8c8c;
  &:after {
    box-shadow:inset -1*$px $px $px #8c8c8c,
    inset -1*$px -1*$px $px #8c8c8c;
  }

}



//контроллирует отступ слева
.left-margin-container{
    @media (min-width:1380px){
      margin-left:50px;
    }
    margin-left:0px;
}
//контроллирует отступ справа
.right-margin-container{
  @media (min-width:1380px){
    margin-right:50px;
  }
  margin-right:0px;
}

.padding-container{
  padding: 0px 0px;
  @media (min-width:1380px){
    padding: 0px 50px;
  }
}
