/**
 * Variables
*/
//main elements color
$main-elem-color: #f15836;
:root {
  margin: 0;
  padding: 0;
  //цвкт осн. элементов
  --main-elem-color: #{$main-elem-color};
  //текст цвет осн. элементов
  --main-text-elem-color: white;
}
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */


